@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', 'New Tagomin';
}
.section-p1 {
    padding: 20px 80px;
}

body {
    width: 100%;
}
/* Header start*/
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5PX 15PX rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

.logo {
    height: 60px;
    background: transparent;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;

}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

/*Home page*/


.fromsection {
    display: flex;
    width: 100%;
    height: 95vh;
}

.image_L {
    width: 40%;
    height: 100%;
    background-color: red;
}

.form_image {
    width: 100%;
    height: 100%;

}

.register_from {
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    background-color: rgb(164, 164, 158);
}

.Text1 {
    font-size: 33px;
    color: #003B77;
    padding: 20px;
    padding-bottom: 2px;
    text-align: center;
}

hr {
    border: 2px solid #001A4A;
    align-items: c;
}

.Add_cont {
    display: flex;
    margin-left: 46px;
}

.address {
    margin-right: 30px;
}

.header2 {
    margin: 20px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 87px;
}

.logo_imgs {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#CCMF {

    font-family: auto;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: #461603;

}
.rgform {
    padding: 20px 80px;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
form .fcol {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form .fcol1 {

    padding-right: 5vw;
}

.fcol #fromlabel {
    font-size: 20px;
    font-size: 16px;
    font-weight: bolder;

}
button {
    font-weight: bolder;
    border: 2px salmon;
    font-size: 15px;
    margin-top: 4px;
    margin-left: 0px;
    text-align: center;
    border-radius: 6px;
    height: 5vh;
    width: 15vw;
    background: orange;
    padding: -6px;
}
button:hover {
    background-color: #003B77;
}

input {
    font-weight: bolder;
    border: 2px salmon;
    font-size: 12px;
    margin-top: 4px;
    margin-left: 0px;
    text-align: center;
    border-radius: 6px;
    height: 5vh;
    width: 15vw;
}

input::placeholder {
    color: rgb(3, 3, 72);
}

input[type=text]:focus {
    background-color: rgb(198, 225, 234);
}

input:focus::placeholder {
    color: transparent;
}

select {
    border: 2px salmon;
    font-size: 12px;
    margin-top: 4px;
    margin-left: 0px;
    text-align: center;
    border-radius: 6px;
    height: 5vh;
    width: 15vw;
}

/* for a from*/
@media(max-width:1300px) {
    .fromsection {
        display: flex;
        width: 100%;
        height: 81vh;
    }
    input,select,button{
        height: 3vh;
    }

    #CCMF {
        font-size: 24px;
    }

    .rgform {
        padding: 20px 32px;
    }


    form .fcol1 {
        padding-right: 5vw;
    }

    .fcol #fromlabel {
        font-size: 14px;
        font-weight: bolder;
    }
}

@media (max-width:1100px) {
    .fromsection {
        display: flex;
        width: 100%;
        height: 81vh;
    }
    
    /*select,button, input{
        width: 100%;
    }*/
    }

@media (max-width:900px) { 

    select,button,input {
        height: 5vh;
        width: 23vw;
    }

    .fromsection {
        display: flex;
        width: 100%;
        height: 90vh;
    }

    #CCMF {
        font-size: 20px;
    }
    .logo_imgs {
        height: 80px;
        width: 80px;
        border-radius: 50%;
    }
    .fcol #fromlabel {
        font-size: 12px;
        font-weight: bolder;
    }
}

@media (max-width:799px) {
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.active {
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }
   
}

@media(max-width:640px){
    .rgform {
        padding: 12px 8px;
    }

    #CCMF {
        font-size: 14px;
    }
    .logo_imgs {
        height: 62px;
        width: 62px;
        border-radius: 50%;
    }
    .fcol #fromlabel {
        font-size: 12px;
        font-weight: bolder;
    }
}


@media (max-width:600px) {
    .image_L {
        display: none;  
    }

    input, select, button {
        font-size: 10px;
        margin-top: 2px;
        height: 4vh;
        width: 36vw;
    }

    .fromsection {
        display: flex;
        width: 100%;
        height: 78vh;
    }
    .rgform {
        padding: 14px 49px;
    }
    .image_L {
        display: none;
        width: 54%;
        height: 100%;
        background-color: red;
    }
    .register_from {
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: rgb(164, 164, 158);
    }
  
    .fcol #fromlabel {
        font-size: 10px;
        font-weight: bolder;
    }


}

@media (max-width:470px) {

    .fromsection {
        display: flex;
        width: 100%;
        height: 72vh;
    }
    .rgform {
        padding: 14px 49px;
    }
    .image_L {
        display: none;
        width: 54%;
        height: 100%;
        background-color: red;
    }
    .register_from {
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: rgb(164, 164, 158);
    }
    input,select,button {
       font-size: 11px;
        margin-top: 2px;
        height: 3vh;
        width: 33vw;
    }
    .fcol #fromlabel {
        font-size: 10px;
        font-weight: bolder;
    }
    
}

@media (max-width:400) {
    
    input, select, button {
        font-size: 13px;
        margin-top: 2px;
        height: 2vh;
        width: 41vw;
    }
}
